.navbar-container{
    display: flex;
    justify-content: center;
    margin-top:.5rem;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13rem
}

.home-background{
    background-image: url("../assets/gradient.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
}

.home-content{
    display: flex;
    width: 65%;
    align-items: center;
    height: 90%;
}

.home-content-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    width: 55%;
}

.home-content-left-h2{
    font-size: 2rem;
}
.home-content-left-p{
    font-size: 1.2rem;
}

.home-btn{
    border-radius: 50px;
    background: #715DF2;
    white-space: nowrap;
    padding: 0.5rem 2rem;
    color: white;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%); 
    display: flex;
    gap: 1rem;
}
.home-btn:hover{
background: #715df2c9;
transform: scale(1.02)
}

.navbar-btns{
    display: flex;
    gap:1rem
}

.divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.divider svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 70px;
}

.divider .shape-fill {
    fill: #FFFFFF;
}

.navbar-logo{
width: 200px;
}

.navbar-btn{
    border-radius: 50px;
    background: white;
    border: 3px solid #d05706;
    white-space: nowrap;
    padding: 0 2rem;
    color: black;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%); 
    display: flex;
    gap: 1rem;
}
.navbar-btn:hover{
background: #d05706d3;
transform: scale(1.02)
}


.about-section{
    display: flex;
    flex-direction: column;
    margin: 0 12rem 0 12rem;
}

.about-section-header-h2{
    font-size: 2rem;
    margin-bottom: 0;
}
.about-section-header-p{
    font-size: 1.5rem;
    margin-top: 0;
}

.about-section-header{
display: flex;
    }

.about-header-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 2rem;
}

.about-header-logo1{
    width: 82px
}
.about-header-logo2{
    width: 82px;
    transform: translateY(42px);
    margin-left: .32rem
}
.about-header-logo3{
    width: 82px;
    transform: translateY(-35px);
    margin-left: .23rem
}

.about-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.about-text-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 60%;
}

.about-text-item{
    margin: 0;
    font-size: 1.7rem;
    text-transform: uppercase;
    display: flex;
    background-color: rgb(235, 235, 235);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 0.3rem;
    border-radius: 8px;
}


.about-text-item:nth-child(even){
   color:#d05706
}


.footer-text {
    display: flex;
    justify-items: center;
    align-items: center;
    width: fit-content;
    gap: 8rem;
    flex-wrap: wrap;
    padding: 1rem;
}
.footer{
    background-color: #a0a0a0;
    color: #495057;
    padding: 50px 0;
    font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .footer-links{
      display: flex;
      flex-direction: column;
    }
    
    .col-1,
    .col-2,
    .col-3 {
        height: 130px;
        /* Add the following properties */
        display: flex;
        flex-direction: column;
    }
    
    .footer-p{
        display: flex;
        align-items: center;
    margin:0
}
@media screen and (max-width: 800px) {
    
    .footer-text {
        gap: 3rem;
        width:100%;
    }
}
    @media screen and (max-width: 800px) {
        .col-3{
            margin: auto;
        }
    }